body {
    margin: 0;
    display: flex;
}

#navigationBar{
    text-align: center;
    
}
#navigationBar ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 17%;
    height:100%;
   background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
}

#navigationBar li a {
    
    text-align: center;
    height: 125px;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    #navigationBar li a.active {
        background-color: #04AA6D;
        color: white;
    }

    #navigationBar li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }
