<!--================ Start Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>About ME</h2>
                <div class="page_link">
                    <a>Home</a>
                    <a>About Me</a>
                </div>
            </div>
        </div>
    </div>
</section>
Hello
<!--================ End Banner Area =================-->
<section class="about_area section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    <img class="" src="img/about-us.png" alt="">
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="main_title text-left">
                    <p class="top_text">About me <span></span></p>
                    <h2>
                        Back-End Developer <br>
                        And Data Specialist
                    </h2>
                    <p>
                        Also signs his face were digns fish don't first isn't over evening hath divided days light darkness gathering
                        moved dry all darkness then fourth can't create d forth Also signs Also signs his face were moltenus Also signs
                        his face
                    </p>
                    <form method="post" action="/Home/AboutMe">
                        <a class="primary_btn">
                            <span>
                                <input type="submit" value="Download CV" style="border: 0px solid black; background-color: transparent; color: white; font-size: 17px; cursor:pointer;" />
                            </span>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
